@import "tailwindcss";

@theme {
  /* Palet Biru Pastel & Tema Biologi */
  --color-pastel-blue: #A7C7E7;
  --color-pastel-light: #F0F8FF;
  --color-pastel-dark: #5C88C4;
  --color-pastel-green: #B2D3C2;
}

body {
  background-color: var(--color-pastel-light);
  color: #1e293b;
}

/* Custom Scrollbar untuk Chat Monitoring */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}