@import "tailwindcss";

@theme {
  /* Palet Biru Pastel & Tema Biologi */
  --color-pastel-blue: #A7C7E7;    /* Biru pastel utama */
  --color-pastel-light: #F0F8FF;   /* Background biru sangat terang (Alice Blue) */
  --color-pastel-dark: #5C88C4;    /* Biru sedikit gelap untuk teks/aksen */
  --color-pastel-green: #B2D3C2;   /* Hijau pastel untuk aksen daun/biologi */
}

/* Base styling */
body {
  background-color: var(--color-pastel-light);
  color: #1e293b; /* slate-800 */
}